@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/composite/header/header.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 10, ../sass/composite/header/header.scss */
.content {
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: opacity 0.3s, visibility 0.3s;
}

/* line 17, ../sass/composite/header/header.scss */
.active1 {
  color: #81d117;
  border-bottom: 1px solid #81d117;
  padding-bottom: 20px;
}

/* line 22, ../sass/composite/header/header.scss */
.cc-navbar {
  border-top: 0.5rem solid #81d117;
  padding: 1.5rem;
  background-color: white;
  z-index: 99;
}
/* line 28, ../sass/composite/header/header.scss */
.cc-navbar .navbar-brand .logo {
  max-width: 150px;
  position: absolute;
  top: 25px;
}
/* line 37, ../sass/composite/header/header.scss */
.cc-navbar .collapse .navbar-nav .nav-item {
  margin-left: 1rem;
}
/* line 40, ../sass/composite/header/header.scss */
.cc-navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease;
  font-family: sans-serif;
}
/* line 46, ../sass/composite/header/header.scss */
.cc-navbar .collapse .navbar-nav .nav-item .nav-link:hover, .cc-navbar .collapse .navbar-nav .nav-item .nav-link:active, .cc-navbar .collapse .navbar-nav .nav-item .nav-link.active {
  color: #81d117;
  border-bottom: 1px solid #81d117;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 55, ../sass/composite/header/header.scss */
  .cc-navbar .collapse .navbar-nav .nav-item .nav-link:hover, .cc-navbar .collapse .navbar-nav .nav-item .nav-link.active {
    color: #81d117;
    border-bottom: none;
  }
}

/* line 68, ../sass/composite/header/header.scss */
.footer-nav .nav-link {
  background-color: #000;
  margin: 2rem;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  align-content: center;
  align-items: center;
  font-family: sans-serif;
}
/* line 78, ../sass/composite/header/header.scss */
.footer-nav .nav-link i {
  position: center;
  color: #81d117;
  margin-top: 0.5rem;
  font-size: 20px;
}
/* line 86, ../sass/composite/header/header.scss */
.footer-nav p {
  text-align: center;
  margin-bottom: 3rem;
}

/* line 1, ../sass/composite/banner/banner.scss */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/img1.webp") center center fixed no-repeat;
  height: 500px;
  background-size: cover;
  transform: translateY(200px);
  transition: transform 1s ease-in-out;
  animation-name: scrollShowUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* line 15, ../sass/composite/banner/banner.scss */
.banner .row {
  justify-content: center;
  transform: translateY(200px);
  transition: transform 2s ease-in-out;
  animation-name: scrollShowUp;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/* line 27, ../sass/composite/banner/banner.scss */
.banner .row .col-md-6 .text-capitalize {
  font-size: 25px;
  font-weight: 400px;
  color: #fff;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  /* line 27, ../sass/composite/banner/banner.scss */
  .banner .row .col-md-6 .text-capitalize {
    font-size: 17px;
  }
}
/* line 38, ../sass/composite/banner/banner.scss */
.banner .row .col-md-6 .btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #81d117;
  color: #81d117;
  padding: 0.35rem 1.5rem;
  font-weight: 400px;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 10px;
  transition: box-shadow 1s ease, transform 3s ease;
}

/* line 57, ../sass/composite/banner/banner.scss */
.modal-content .logo {
  max-width: 120px;
  top: 10px;
}
/* line 62, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .form-control {
  transition: all 1s ease-in-out;
  background-color: transparent;
  border-color: gray;
  font-family: sans-serif;
}
/* line 67, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .form-control:focus {
  border: 1px solid #81d117;
}
/* line 71, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .btn {
  background-color: rgba(129, 209, 23, 0.7);
  font-family: sans-serif;
}
/* line 76, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .form-select {
  transition: all 1s ease-in-out;
  background-color: transparent;
  border-color: gray;
  color: gray;
  font-family: sans-serif;
}
/* line 83, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .form-select:focus {
  border: 1px solid #81d117;
}
/* line 88, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .text-center {
  transition: all 1s ease-in-out;
  color: rgba(129, 209, 23, 0.7);
  font-family: sans-serif;
}
/* line 93, ../sass/composite/banner/banner.scss */
.modal-content .modal-body .text-center:hover {
  border-bottom: 1px solid #81d117;
}

/* line 100, ../sass/composite/banner/banner.scss */
.tes {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 106, ../sass/composite/banner/banner.scss */
.cc-col {
  background-color: #81d117;
  margin-top: -50px;
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
}

/* line 114, ../sass/composite/banner/banner.scss */
.banner1 {
  font-family: sans-serif;
}
/* line 123, ../sass/composite/banner/banner.scss */
.banner1 .card-img-top {
  border-radius: 500px;
  width: 250px;
  height: 250px;
  border: 2px solid #81d117;
  background-position: center;
  margin-left: 5rem;
}
/* line 132, ../sass/composite/banner/banner.scss */
.banner1 .fw-bold {
  color: #81d117;
  font-family: sans-serif;
}

/* line 138, ../sass/composite/banner/banner.scss */
.card1 {
  font-family: sans-serif;
}
/* line 140, ../sass/composite/banner/banner.scss */
.card1 .tes1 {
  color: #81d117;
  font-weight: 400;
  font-size: 40px;
  font-family: sans-serif;
}
/* line 147, ../sass/composite/banner/banner.scss */
.card1 .btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #81d117;
  color: #81d117;
  padding: 0.35rem 1.5rem;
  font-weight: 400px;
  font-family: sans-serif;
  font-size: 20px;
  transition: box-shadow 1s ease, transform 3s ease;
}

@keyframes scrollShowUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* line 1, ../sass/composite/banner/projet.scss */
.projet {
  transform: translateY(200px);
  transition: transform 1s ease-in-out;
  animation-name: scrollShowUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* line 9, ../sass/composite/banner/projet.scss */
.projet .col {
  padding-top: 6rem;
}
/* line 11, ../sass/composite/banner/projet.scss */
.projet .col .card-title {
  color: #81d117;
  font-weight: bold;
  font-size: 40px;
  font-family: sans-serif;
}
/* line 18, ../sass/composite/banner/projet.scss */
.projet .col .card .img {
  height: 100px;
}
/* line 22, ../sass/composite/banner/projet.scss */
.projet .col .card .card-body h3 {
  color: #81d117;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;
}
/* line 29, ../sass/composite/banner/projet.scss */
.projet .col .card .card-body P {
  word-spacing: 4px;
}
/* line 36, ../sass/composite/banner/projet.scss */
.projet .bord {
  box-shadow: 0px 5px 0px #000, 0px -5px 0px #000;
  border-radius: 10px;
}

/* line 42, ../sass/composite/banner/projet.scss */
.bannerP {
  font-family: sans-serif;
}
/* line 45, ../sass/composite/banner/projet.scss */
.bannerP h3 {
  color: #81d117;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;
}
/* line 52, ../sass/composite/banner/projet.scss */
.bannerP .card {
  box-shadow: 0px 5px 0px #000, 0px -5px 0px #000;
  height: 30vh;
}
/* line 59, ../sass/composite/banner/projet.scss */
.bannerP .fw-bold {
  color: #81d117;
  font-family: sans-serif;
}

/* line 1, ../sass/composite/banner/contact.scss */
.contact {
  padding-top: 8rem;
  transition: transform 1s ease-in-out;
  animation-name: ShowUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* line 12, ../sass/composite/banner/contact.scss */
.contact .col h1 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
  color: #81d117;
  font-weight: bold;
}
/* line 23, ../sass/composite/banner/contact.scss */
.contact .form-control {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border-color: gray;
  font-family: sans-serif;
}
/* line 28, ../sass/composite/banner/contact.scss */
.contact .form-control:focus {
  border: 2px solid #81d117;
}
/* line 33, ../sass/composite/banner/contact.scss */
.contact .btn {
  background-color: #81d117;
  font-weight: bold;
  font-size: 18px;
}
/* line 39, ../sass/composite/banner/contact.scss */
.contact textarea {
  resize: none;
}

@keyframes ShowUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* line 1, ../sass/composite/banner/service.scss */
.service {
  padding-top: 2rem;
  transition: transform 1s ease-in-out;
  animation-name: ShowUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* line 11, ../sass/composite/banner/service.scss */
.service h1 {
  color: #81d117;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  /* line 11, ../sass/composite/banner/service.scss */
  .service h1 {
    font-size: 15px;
  }
}
/* line 21, ../sass/composite/banner/service.scss */
.service .col {
  margin-top: 7rem;
  margin-bottom: 4rem;
}
/* line 28, ../sass/composite/banner/service.scss */
.service .col .form-select {
  transition: all 1s ease-in-out;
  background-color: transparent;
  border-color: gray;
  color: gray;
  font-family: sans-serif;
}
/* line 35, ../sass/composite/banner/service.scss */
.service .col .form-select:focus {
  border: 1px solid #81d117;
}
@media (max-width: 768px) {
  /* line 28, ../sass/composite/banner/service.scss */
  .service .col .form-select {
    margin-bottom: 1rem;
  }
}
/* line 44, ../sass/composite/banner/service.scss */
.service .col .btn {
  background-color: #81d117;
  font-weight: bold;
  font-size: 18px;
}
/* line 51, ../sass/composite/banner/service.scss */
.service a {
  border: 1px solid #81d117;
  color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease;
}
/* line 56, ../sass/composite/banner/service.scss */
.service a:hover {
  background-color: rgba(129, 209, 23, 0.7);
  color: rgba(0, 0, 0, 0.7);
}
/* line 61, ../sass/composite/banner/service.scss */
.service a.active {
  background-color: rgba(129, 209, 23, 0.7);
}

/* line 68, ../sass/composite/banner/service.scss */
.cap-content .card {
  height: 59vh;
}
/* line 71, ../sass/composite/banner/service.scss */
.cap-content .card .card-body .btn {
  margin-left: 5rem;
  bottom: 0;
}
/* line 76, ../sass/composite/banner/service.scss */
.cap-content .card .card-body .card-title {
  text-align: center;
  color: #81d117;
  font-size: 25px;
  font-family: sans-serif;
}
/* line 85, ../sass/composite/banner/service.scss */
.cap-content p {
  color: #81d117;
  font-size: 20px;
  font-family: sans-serif;
}
/* line 89, ../sass/composite/banner/service.scss */
.cap-content p strong {
  color: rgba(0, 0, 0, 0.7);
  font-size: initial;
}
/* line 95, ../sass/composite/banner/service.scss */
.cap-content .btn {
  background-color: #81d117;
  border: transparent;
}

/* line 1, ../sass/composite/banner/ouvrage.scss */
.ouvrage {
  padding-top: 10rem;
}
/* line 3, ../sass/composite/banner/ouvrage.scss */
.ouvrage h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #81d117;
  font-size: 3rem;
  font-family: sans-serif;
}
/* line 11, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #81d117;
  font-size: 2rem;
  font-family: sans-serif;
}
/* line 19, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col .card {
  box-shadow: 0px 0px 3px #81d117, 0px 0px 3px #81d117;
}
/* line 22, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col .card .row .col-md-4 {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem²;
}
/* line 31, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col .card h4 {
  text-align: center;
  color: #81d117;
  font-family: sans-serif;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
/* line 39, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col .card p {
  text-align: center;
}
/* line 43, ../sass/composite/banner/ouvrage.scss */
.ouvrage .col .card .img {
  border-radius: 3rem;
  box-shadow: 2px 3px 2px #81d117, -2px -2px 2px #81d117;
  height: 50vh;
  max-width: 30rem;
}

/* line 2, ../sass/composite/banner/profil.scss */
.profil {
  margin-top: 2rem;
}
/* line 6, ../sass/composite/banner/profil.scss */
.profil .card {
  height: 500px;
  background-color: rgba(129, 209, 23, 0.1);
}
/* line 12, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left {
  background-color: #81d117;
  height: 500px;
}
/* line 16, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left .card-header .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}
/* line 20, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left .card-header .icon i {
  background-color: gray;
  text-align: center;
  vertical-align: middle;
}
/* line 28, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left .card-body .nav {
  line-height: 3.7rem;
}
/* line 30, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left .card-body .nav .nav-item {
  color: #fff;
}
/* line 32, ../sass/composite/banner/profil.scss */
.profil .card .row .col-sm-3 .card-left .card-body .nav .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-family: sans-serif;
}
/* line 46, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 {
  margin-top: 1rem;
}
/* line 52, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane {
  background-color: transparent;
}
/* line 54, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane h1 {
  font-weight: bold;
  color: #81d117;
}
/* line 60, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane h1 .dropdown-divider {
  border-color: 1px solid red;
}
/* line 66, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane .card1 .row {
  vertical-align: middle;
  margin-top: 3rem;
}
@media (max-width: 792px) {
  /* line 66, ../sass/composite/banner/profil.scss */
  .profil .col-sm-9 .card-right .card-body .tab-content .tab-pane .card1 .row {
    display: flex;
    flex-direction: column;
  }
}
/* line 75, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane .card1 .row .col {
  line-height: 1.5rem;
}
/* line 77, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane .card1 .row .col a {
  text-decoration: none;
  color: #81d117;
}
/* line 81, ../sass/composite/banner/profil.scss */
.profil .col-sm-9 .card-right .card-body .tab-content .tab-pane .card1 .row .col a.abtn {
  padding: 0.6rem 2rem;
  color: #fff;
  background-color: #81d117;
}
/* line 101, ../sass/composite/banner/profil.scss */
.profil .active {
  padding: 0rem 0.1rem;
}
/* line 103, ../sass/composite/banner/profil.scss */
.profil .active a {
  color: black;
}
